@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: black;
}

/* headings and logo */

h1, h2, h3 {
    font-family: Oswald, sans-serif;
    letter-spacing: 2px;
    color: black;
    text-transform: capitalize;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 40px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 1px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 75px;
}

.active {
    border-bottom: 1px solid black;
}

/* hero image */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

    /* animates zoom effect of hero image*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2.2);
    }
}

/* cover on home page*/
#cover-text {
    font-size: 100%;
    font-family: Oswald, sans-serif;
    letter-spacing: 2px;
    line-height: 40px;
    text-transform: capitalize;
    text-align: center;
    width: 300px;
    height: 120px;
    padding: 20px;
    background-color: rgb(239, 200, 200);
    bottom: 50px;
    right: 300px;
    position: absolute;
    border-radius: 10px;
}

#cover-text h2, h3 {
    color: rgb(109, 10, 10);
}

/* footer */
footer {
    height: 75px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 1%;
    color: blue;
}