/* Media queries */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@import url('https://fonts.google.com/');

* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: rgb(30, 27, 27);
    overflow-x: hidden;
}

/* headings and logo */
h1, h2, h3 {
    font-family: Oswald, sans-serif;
    color: rgb(30, 27, 27);
    text-transform: capitalize;
}

#logo {
    float: left;
    font-size: 280%;
    line-height: 75px;
    margin-left: 40px;
}

#logo:hover {
    color: rgb(109, 10, 10);
}

/* navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 1px;
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a:hover {
    border-bottom: 1px solid rgb(109, 10, 10);
    color: rgb(109, 10, 10);
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid rgb(30, 27, 27);
}

/* home page */
/* hero image on home page */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

    /* animates zoom effect on hero image */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2.2);
    }
}

/* cover on home page */
#cover-text {
    font-size: 100%;
    font-family: Oswald, sans-serif;
    line-height: 35px;
    text-transform: capitalize;
    text-align: center;
    width: 300px;
    height: 120px;
    border-radius: 50px;
    padding: 20px;
    background-color: rgba(239, 200, 200, 0.8);
    bottom: 50px;
    right: 150px;
    position: absolute;
}

#cover-text h2, h3 {
    color: rgb(109, 10, 10);
}

/* yoga benefits & techniques */
#yoga-bens-techs {
    height: 1000px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.bens-techs-left {
    padding-top: 10px;
    width: 40%;
    float: left;
    margin-left: 165px;
    margin-bottom: 75px;
    margin-top: 25px;
}

.bens-techs-right {
    padding-top: 10px;
    width: 40%;
    float: right;
    margin-right: 85px;
    margin-top: 25px;
}

.bens-techs-left .bens-techs-right {
    display: inline-block;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.bens-techs-heading {
    width: 100%;
    line-height: 20px;
    padding-top: 10px;
    margin-bottom: 0;
}

.bens-techs-heading h2 {
    text-transform: none;
}

.bens-techs-heading h3 {
    text-transform: none;
    margin: 10px 5px;
    color: inherit;
}

#reasons {
    text-align: center;
    margin: 20px 0;
    font-size: 200%;
}

#circle-container-tree-pose {
    width: 225px;
    height: 270px;
    padding: 10px;
    border-style: solid;
    border-color: rgb(199, 197, 197);
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    background-size: cover;
}

#circle-tree-pose-bg {
    background: url('../images/tree-pose-demo.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-container-cat-cow-pose {
    width: 322px;
    height: 224px;
    padding: 5px;
    border-style: solid;
    border-color: rgb(199, 197, 197);
    border-width: 1px;
    border-radius: 5%;
    margin: 0 auto;
    background-size: cover;
}

#circle-cat-cow-pose-bg {
    background: url('../images/cat-cow-pose-demo.jpg') no-repeat center center;
    height: 100%;
    border-radius: 5%;
}

#circle-container-down-dog-pose {
    width: 260px;
    height: 182px;
    padding: 5px;
    border-style: solid;
    border-color: rgb(199, 197, 197);
    border-width: 1px;
    border-radius: 5%;
    margin: 0 auto;
    background-size: cover;
}

#circle-down-dog-pose-bg {
    background: url('../images/downward-dog-pose-demo.jpg') no-repeat center center;
    height: 100%;
    border-radius: 5%;
}

#circle-container-corpse-pose {
    width: 360px;
    height: 195px;
    padding: 5px;
    border-style: solid;
    border-color: rgb(199, 197, 197);
    border-width: 1px;
    border-radius: 5%;
    margin: 0 auto;
    background-size: cover;
}

#circle-corpse-pose-bg {
    background: url('../images/corpse-pose-demo.jpg') no-repeat center center;
    height: 100%;
    border-radius: 5%;
}

#circle-container-legs-up-pose {
    width: 260px;
    height: 279px;
    padding: 5px;
    border-style: solid;
    border-color: rgb(199, 197, 197);
    border-width: 1px;
    border-radius: 5%;
    margin: 0 auto;
    background-size: cover;
}

#circle-legs-up-pose-bg {
    background: url('../images/legs-up-the-wall-pose-demo.jpg') no-repeat center center;
    height: 100%;
    border-radius: 5%;
}

/* about us section */
#about-us {
    height: auto;
    margin-top: 25px;
}

/* about us */
#about {
    height: auto;
    background-color: rgba(231, 219, 219, 0.6);
    margin: 0 auto;
    width: 94%;
    padding: 30px;
    border: 2px solid #fafafa;
}

.about-heading {
    font-size: 200%;
    text-align: center;
    margin-bottom: 25px;
}

#provisions {
    font-size: 120%;
    text-align: center;
    margin-bottom: 25px;
}

#offers {
    font-size: 120%;
    text-align: left;
    margin-left: 235px;
    margin-bottom: 25px;
}

#offers-list {
    font-size: 100%;
    text-align: left;
    line-height: 30px;
    margin-left: 350px;  
}

/* prices */
#prices {
    margin: 0 auto;
    width: 90%;
    height: auto;
}

#prices div {
    background-color: rgba(231, 219, 219, 0.6);
    width: 50%;
    height: 300px;
    float: left;
    padding: 20px;
    text-align: center;
    border: 2px solid #fafafa;
    box-sizing: border-box;
}

.prices-heading {
    font-size: 200%;
    text-align: center;
    margin-bottom: 25px;
}

.prices-gps {
    font-size: 120%;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 25px;
}

.prices-list {
    font-size: 100%;
    text-align: left;
    line-height: 30px;
    margin-left: 60px;    
}

.table {
    font-size: 100%;
    margin: 0 auto;
    line-height: 22px;
}

/* plan lessons */
#lessons {
    background-image: url('../images/group-senior-people-yoga.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 300px;
    width: 100%;
}

#lessons div {
    color: rgb(69, 6, 6);
    background-color: rgba(248, 244, 244, 0.6);
    width: 25%;
    height: 300px;
    float: left;
    padding: 15px;
    text-align: center;
    border: 2px solid #fafafa;
    box-sizing: border-box;
}

#lessons h2, #lessons h3 {
    color: rgb(69, 6, 6);
    margin: 10px;
}

.list {
    font-size: 100%;
    text-align: left;
    line-height: 20px;
    padding-top: 10px;
    margin-left: 20px;
}

/* footer */
footer {
    margin-top: 50px;
    height: 75px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 2%;
    padding: 2%;
    color: rgb(109, 10, 10);
}

/* gallery page */
/* images on gallery page */
#images {
    clear: both;
    column-count: 3;
    column-gap: 5px;
    padding-bottom: 5px;
}

#images > img {
    width: 100%;
}

/* contact us page */
/* image on contact us page */
#contact-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#contact-image {
    height: 600px;
    width: 100%;
    background: url('../images/strengthen-pelvic-floor-muscles.jpg') no-repeat center center;

    /* animates zoom effect on image on contact us page */
    animation-name: contact-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for image on contact us page */
@keyframes contact-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2.2);
    }
}

/* contact details */
#contact-text {
    font-size: 120%;
    font-family: Oswald, sans-serif;
    line-height: 30px;
    text-transform: capitalize;
    text-align: center;
    width: 400px;
    height: 250px;
    border-radius: 50px;
    padding: 20px;
    background-color: rgba(184, 248, 245, 0.8);
    color: rgb(109, 10, 10);
    bottom: 40px;
    right: 100px;
    position: absolute;
}

#contact-text h2, h3 {
    color: rgb(109, 10, 10);
    margin-top: 10px;
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.lowercase {
    text-transform: lowercase;
}

/* contact form */
#form {
    height: 800px;
}

.contactus-form {
    margin: 50px 0;
    color: rgb(109, 10, 10);
    background-color:rgba(246, 224, 224, 0.8);
    max-width: 427px;
    position: absolute;
    left: 33%;
    padding: 30px;
    border-radius: 20px;
}

.contactus-form h2 {
    color: rgb(109, 10, 10);
    margin-bottom: 20px;
    text-align: center;
    font-size: 124%;
}

.input-text {
    background-color: rgb(247, 238, 238);
    color: rgb(109, 10, 10);
    width: 98%;
    height: 30px;
    margin: 5px 0 20px;
    padding: 5px;
    border: 1px solid rgb(246, 224, 224);
    border-radius: 2px;
}

.input-text:hover {
    border-color: rgb(109, 10, 10);
}

.input-radio {
    margin: 10px;
    width: 100%;
    font-size: 90%;
    text-align: left;
    line-height: 25px;
}

.message {
    background-color: rgb(247, 238, 238);
    color: rgb(109, 10, 10);
    height: 150px;
    width: 98%;
    margin: 5px 0 15px;
    padding: 5px;
    border: 1px solid rgb(246, 224, 224);
    border-radius: 2px;
}

.message:hover {
    border-color: rgb(109, 10, 10);
}

button[type=submit] {
    margin: 10px 20px;
    border-radius: 50px;
    padding: 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #f69e9e;
    color: rgb(109, 10, 10);
    display: block;
    float: right;
}

button[type=submit]:hover {
    background-color: #f35050;
    color: #fafafa;
}

button[type=reset] {
    margin: 10px 20px;
    border-radius: 50px;
    padding: 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #f69e9e;
    color: rgb(109, 10, 10);
    display: block;
    float: right;
}

button[type=reset]:hover {
    background-color: #f35050;
    color: #fafafa;
}

button[type=submit],
button[type=reset] {
    display: inline-block;
}

/* submission page */
/* image on submission page */
#submission-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#submission-image {
    height: 600px;
    width: 100%;
    background: url('../images/yoga.jpg') no-repeat center center;

    /* animates zoom effect on image on submission page */
    animation-name: submission-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for image on submission page */
@keyframes submission-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.4);
    }
}

/* submission message */
#submission-text {
    font-size: 120%;
    font-family: Oswald, sans-serif;
    line-height: 35px;
    text-align: center;
    width: 320px;
    height: 100px;
    border-radius: 50px;
    padding: 20px;
    background-color: rgba(239, 200, 200, 0.8);
    color: rgb(109, 10, 10);
    bottom: 150px;
    left: 250px;
    position: absolute;
}

#submission-text h3 {
    text-transform: none;
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    /* home page */
    /* cover on home page */
    #cover-text {
        right: 100px;
    }
    
    /* yoga benefits & techniques */
    .bens-techs-left {
        width: 75%;
        margin: 10px 150px;
    }
    
    .bens-techs-right {
        width: 75%;
        margin: 10px 150px;
    }

    /* about us section */
    /* about us */
    #about {
        width: 93%;
    }

    .about-heading {
        margin-bottom: 20px;
    }
    
    #provisions {
        line-height: 30px;
        margin-bottom: 15px;
    }

    #offers {
        margin-left: 120px;
        margin-bottom: 15px;
    }
    
    #offers-list {
        margin-left: 150px;  
    }

    /* prices */
    .prices-heading {
        margin-bottom: 20px;
    }
    
    .prices-gps {
        margin-bottom: 20px;
    }

    #prices div {
        height: 325px;
    }

    /* plan lessons */
    #lessons {
        height: 325px;
    }

    #lessons div {
        height: 325px;
        padding: 15px;
    }

    /* contact us page */
    /* contact details */
    #contact-text {
        width: 375px;
        right: 60px;
    }

    /* contact form */
    .contactus-form {
        left: 28%;
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* navigation links */
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 20px;
    }

    /* home page */
    /* cover on home page */
    #cover-text {
        left: 25px;
    }

    /* yoga benefits & techniques */
    .bens-techs-left {
        width: 80%;
        margin: 10px 120px 10px 90px;
    }
    
    .bens-techs-right {
        width: 80%;
        margin: 10px 100px 10px 150px;
    }

    /* about us section */
    /* about us */
    #about {
        width: 92%;
    }

    .about-heading {
        margin-bottom: 20px;
    }

    #provisions {
        line-height: 30px;
        margin-bottom: 15px;
    }

    #offers {
        margin-left: 120px;
        margin-bottom: 15px;
    }
    
    #offers-list {
        margin-left: 150px;  
    }

    /* prices */
    #prices {
        width: 85%;
    }
    
    #prices div {
        width: 100%;
        height: auto;
        clear: both;
        float: left;
        padding: 25px;
    }

    .prices-heading {
        margin-bottom: 20px;
    }

    .prices-gps {
        margin-left: 30px;
        margin-bottom: 20px;
    }
    
    .prices-list {
        line-height: 28px;
        margin-left: 40px;    
    }
    
    /* plan lessons */
    #lessons {
        height: 560px;
    }

    #lessons div {
        width: 50%;
        height: 280px;
        float: left;
        padding: 10px;
    }

    .list {
        margin-left: 40px;
        margin-right: 40px;
    }

    /* contact us page */
    /* contact details */
    #contact-text {
        width: 375px;
        right: 50px;
    }

    /* contact form */
    .contactus-form {
        left: 25%;
    }

    /* submission page */
    /* submission message */
    #submission-text {
        left: 300px;
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {  
    /* gallery page */
    /* images on gallery page */
    #images {
        column-count: 2;
    }

    /* submission page */
    /* submission message */
    #submission-text {
        left: 200px;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media screen and (min-width: 481px) and (max-width: 767px) {
    /* headings and logo */
    #logo {
        margin-left: 25px;
    }

    /* navigation links */
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 20px;
    }

    /* home page */
    /* cover on home page */
    #cover-text {
        left: 25px;
        bottom: 150px;
    }

    /* yoga benefits & techniques */
    .bens-techs-left {
        width: 80%;
        margin: 10px 20px 10px 70px;
    }
    
    .bens-techs-right {
        width: 80%;
        margin: 10px 60px 10px 70px;
    }

    /* about us section */
    /* about us */
    #about {
        width: 86%;
    }

    .about-heading {
        margin-bottom: 20px;
    }

    #provisions {
        line-height: 30px;
        margin-bottom: 15px;
    }

    #offers {
        margin-left: 60px;
        margin-bottom: 15px;
    }
    
    #offers-list {
        margin-left: 70px;  
    }

    /* prices */
    #prices {
        width: 85%;
    }
    
    #prices div {
        width: 100%;
        height: auto;
        clear: both;
        float: left;
        padding: 20px;
    } 
    
    .prices-heading {
        margin-bottom: 20px;
    }
    
    .prices-gps {
        margin-left: 30px;
        margin-bottom: 20px;
    }
    
    .prices-list {
        line-height: 25px;
        margin-left: 40px;    
    }

    /* plan lessons */
    #lessons {
        height: auto;
    }

    #lessons div {
        width: 100%;
        height: auto;
        float: left;
    }

    .list {
        margin-left: 40px;
        margin-right: 40px;
    }

    /* gallery page */
    /* images on gallery page */
    #images {
        column-count: 2;
    }

    /* contact us page */
    /* contact details */
    #contact-text {
        width: 375px;
        bottom: 50px;
        right: 20px;
    }

    /* contact form */
    .contactus-form {
        left: 15%;
    }

    /* submission page */
    /* submission message */
    #submission-text {
        bottom: 250px;
        left: 75px;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media screen and (min-width: 320px) and (max-width: 480px) {
    /* headings and logo */
    #logo {
        font-size: 220%;
        line-height: 45px;
        margin-left: 10px;
    }

     /* navigation links */
    #menu {
        text-align: center;
        margin-left: 2px;
        margin-bottom: 20px;
        line-height: 60px;
    }

    /* home page */
    /* cover on home page */
    #cover-text {
        font-size: 90%;
        line-height: 30px;
        width: 250px;
        height: 100px;
        left: 10px;
        bottom: 150px;
    }

    /* yoga benefits & techniques */
    .bens-techs-left {
        width: 80%;
        margin: 10px 35px;
    }
    
    .bens-techs-right {
        width: 80%;
        margin: 10px 35px;
    }

    #reasons {
        font-size: 175%;
    }

    #circle-container-cat-cow-pose {
        width: 250px;
        height: 175px;
    }

    #circle-cat-cow-pose-bg {
        background: url('../images/cat-cow-pose-s-demo.jpg') no-repeat center center;
    }

    #circle-container-down-dog-pose {
        width: 250px;
        height: 175px;
    }
    
    #circle-down-dog-pose-bg {
        background: url('../images/downward-dog-pose-s-demo.jpg') no-repeat center center;
    }

    #circle-container-corpse-pose {
        width: 250px;
        height: 137px;
    }
    
    #circle-corpse-pose-bg {
        background: url('../images/corpse-pose-s-demo.jpg') no-repeat center center;
    }

    #circle-container-legs-up-pose {
        width: 250px;
        height: 268px;
    }
    
    #circle-legs-up-pose-bg {
        background: url('../images/legs-up-the-wall-pose-s-demo.jpg') no-repeat center center;
    }
    
    /* about us section */
    /* about us */
    #about {
        width: 80%;
    }

    .about-heading {
        font-size: 175%;
        margin-bottom: 20px;
    }

    #provisions {
        line-height: 30px;
        margin-bottom: 15px;
    }

    #offers {
        margin-left: 2px;
        margin-bottom: 15px;
    }
    
    #offers-list {
        margin-left: 30px;  
    }

    /* prices */
    #prices {
        width: 85%;
    }
    
    #prices div {
        width: 100%;
        height: auto;
        clear: both;
        float: left;
        padding: 20px;
    } 
    
    .prices-heading {
        font-size: 170%;
        margin-bottom: 20px;
    }
    
    .prices-gps {
        margin-left: 20px;
        margin-bottom: 20px;
    }
    
    .prices-list {
        line-height: 28px;
        margin-left: 30px;    
    }

    .table {
        font-size: 90%;
    }

    /* plan lessons */
    #lessons {
        height: auto;
    }

    #lessons div {
        width: 100%;
        height: auto;
        float: left;
    }

    .list {
        font-size: 90%;
        margin-left: 25px;
        margin-right: 20px;
    }

    /* gallery page */
    /* images on gallery page */
    #images {
        column-count: 1;
    }

    /* contact us page */
    /* contact details */
    #contact-text {
        font-size: 100%;
        line-height: 20px;
        width: 280px;
        height: 180px;
        padding: 15px;
        bottom: 100px;
        right: 5px;
    }
    
    /* contact form */
    .contactus-form {
        left: 1%;
        right: 1%;
    }

    .contactus-form h2 {
        font-size: 111%;
    }

    button[type=submit] {
        margin: 10px 10px;
        padding: 10px 20px;
        font-size: 90%;
    }
    
    button[type=reset] {
        margin: 10px 10px;
        padding: 10px 20px;
        font-size: 90%;
    }

    .message {
        margin: 5px 0 10px;
    } 

    /* submission page */
    /* submission message */
    #submission-text {
        font-size: 100%;
        width: 250px;
        height: 100px;
        padding: 15px;
        bottom: 250px;
        left: 20px;
    }
}