@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: black;
}

/* headings and logo */

h1, h2, h3 {
    font-family: Oswald, sans-serif;
    letter-spacing: 2px;
    color: black;
    text-transform: capitalize;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 40px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 1px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 75px;
}

.active {
    border-bottom: 1px solid black;
}

/* hero image */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

    /* animates zoom effect on hero image*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2.2);
    }
}

/* cover on home page*/
#cover-text {
    font-size: 100%;
    font-family: Oswald, sans-serif;
    letter-spacing: 2px;
    line-height: 40px;
    text-transform: capitalize;
    text-align: center;
    width: 300px;
    height: 120px;
    border-radius: 50px;
    padding: 20px;
    background-color: rgb(239, 200, 200);
    bottom: 50px;
    right: 300px;
    position: absolute;
}

#cover-text h2, h3 {
    color: rgb(109, 10, 10);
}

/* yoga benefits & techniques */
#yoga-bens-techs {
    height: 1600px;
}

#bens-techs-left {
    padding-top: 10px;
    width: 40%;
    float: left;
    margin-left: 200px;
    margin-bottom: 75px;
    margin-top: 25px;
}

#bens-techs-right {
    padding-top: 10px;
    width: 40%;
    float: right;
    margin-right: 100px;
    margin-top: 25px;
}

#bens-techs-left #bens-techs-right {
    display: inline-block;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}
.bens-techs-heading {
    width: 100%;
    line-height: 20px;
    padding-top: 10px;
    margin-bottom: 0;
}

.bens-techs-heading h2 {
    text-transform: none;
}

.bens-techs-heading h3 {
    text-transform: none;
    margin: 10px 5px;
    margin-left: 0;
    color: inherit;
}

#reasons {
    text-align: center;
    margin: 20px 0;
    font-size: 200%;
}

#circle-container-tree-pose {
    width: 225px;
    height: 270px;
    padding: 10px;
    border-style: solid;
    border-color: rgb(199, 197, 197);
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    background-size: cover;
}

#circle-tree-pose-bg {
    background: url('../images/tree-pose-demo.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-container-cat-cow-pose {
    width: 322px;
    height: 224px;
    padding: 5px;
    border-style: solid;
    border-color: rgb(199, 197, 197);
    border-width: 1px;
    border-radius: 5%;
    margin: 0 auto;
    background-size: cover;
}

#circle-cat-cow-pose-bg {
    background: url('../images/cat-cow-pose-demo.jpg') no-repeat center center;
    height: 100%;
    border-radius: 5%;
}

#circle-container-down-dog-pose {
    width: 260px;
    height: 182px;
    padding: 5px;
    border-style: solid;
    border-color: rgb(199, 197, 197);
    border-width: 1px;
    border-radius: 5%;
    margin: 0 auto;
    background-size: cover;
}

#circle-down-dog-pose-bg {
    background: url('../images/downward-dog-pose-demo.jpg') no-repeat center center;
    height: 100%;
    border-radius: 5%;
}

#circle-container-corpse-pose {
    width: 360px;
    height: 195px;
    padding: 5px;
    border-style: solid;
    border-color: rgb(199, 197, 197);
    border-width: 1px;
    border-radius: 5%;
    margin: 0 auto;
    background-size: cover;
}

#circle-corpse-pose-bg {
    background: url('../images/corpse-pose-demo.jpg') no-repeat center center;
    height: 100%;
    border-radius: 5%;
}

#circle-container-legs-up-pose {
    width: 260px;
    height: 279px;
    padding: 5px;
    border-style: solid;
    border-color: rgb(199, 197, 197);
    border-width: 1px;
    border-radius: 5%;
    margin: 0 auto;
    background-size: cover;
}

#circle-legs-up-pose-bg {
    background: url('../images/legs-up-the-wall-pose-demo.jpg') no-repeat center center;
    height: 100%;
    border-radius: 5%;
}

/* about us and prices*/
#about {
    height: 260px;
    background-color: rgb(173, 216, 230, 0.6);
    margin-top: 20px; 
    margin-left: 125px;
    width: 80%;
    padding: 15px;
    border: 2px solid rgb(145, 209, 230);
    border-radius: 2%;
}

.about-heading, .prices-heading {
    font-size: 200%;
    text-align: center;
    margin-bottom: 10px;
}

#provisions {
    text-align: center;
    font-size: 120%;
    margin: 25px;
}

#offers, .prices-gps{
    text-align: left;
    padding-top: 10px;
    margin-left: 50px;
    line-height: 30px;
    font-size: 120%;
}

#offers-list, .prices-list{
    text-align: left;
    padding-top: 10px;
    margin-left: 75px;
    line-height: 30px;
    font-size: 100%;
}

#prices {
    margin: 10px 30px 20px 70px;
    width: 90%;
}

#prices div {
    background-color: rgb(173, 216, 230, 0.6);
    width: 50%;
    height: 260px;
    float: left;
    padding: 15px;
    text-align: center;
    border: 2px solid rgb(145, 209, 230);
    box-sizing: border-box;
    border-radius: 2%;
}

.table {
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
    line-height: 22px;
}

/* footer */
footer {
    height: 75px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 1%;
    color: rgb(109, 10, 10);
}

/* gallery */
#images {
    clear: both;
    column-count: 3;
    column-gap: 0;
    line-height: 0;
}

#images > img {
    width: 100%;
}

/* contact us */
#contact-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#contact-image {
    height: 600px;
    width: 100%;
    background: url('../images/strengthen-pelvic-floor-muscles.jpg') no-repeat center center;

    /* animates zoom effect on contact us page*/
    animation-name: contact-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for image on contact us page*/
@keyframes contact-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2.2);
    }
}

/* cover on contact us page */
#contact-text {
    font-size: 120%;
    font-family: Oswald, sans-serif;
    letter-spacing: 2px;
    line-height: 30px;
    text-transform: capitalize;
    text-align: center;
    width: 400px;
    height: 250px;
    border-radius: 50px;
    padding: 20px;
    background-color: rgb(184, 248, 245);
    color: rgb(109, 10, 10);
    bottom: 50px;
    right: 150px;
    position: absolute;
}

#contact-text h2, h3 {
    color: rgb(109, 10, 10);
    margin-bottom: 10px;
    margin-top: 10px;
}

.bold {
    font-weight: bold;
}

.lowercase {
    text-transform: lowercase;
}

/* contact us form */

#form {
    height: 850px;
}

.contactus-form {
    margin: 50px 50px 0 0;
    color: rgb(109, 10, 10);
    background-color:rgb(246, 224, 224);
    max-width: 550px;
    position: absolute;
    left: 30%;
    padding: 30px;
    border-radius: 20px;
}

.contactus-form h2 {
    color: rgb(109, 10, 10);
    margin-bottom: 20px;
    text-align: center;
}

.input-text {
    background: rgb(247, 238, 238);
    color: rgb(109, 10, 10);
    width: 100%;
    height: 30px;
    margin: 5px 0 20px;
    padding: 5px;
    border: 1px solid rgb(246, 224, 224);
    border-radius: 2px;
}

.input-text:hover {
    border-color: rgb(109, 10, 10);
}

.input-radio {
    text-align: center;
    margin: 20px 20px;
    width: 100%;
}

.message {
    background: rgb(247, 238, 238);
    color: rgb(109, 10, 10);
    height: 200px;
    width: 100%;
    margin: 5px 0 20px;
    padding: 5px;
    border: 1px solid rgb(246, 224, 224);
    border-radius: 2px;
}

.message:hover {
    border-color: rgb(109, 10, 10);
}

input[type=submit] {
    margin: 10px 20px 10px 10px;
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #f35050;
    color: #fafafa;
    display: block;
    float: right;
}

input[type=submit]:hover {
    background-color: #f69e9e;
    color: rgb(109, 10, 10);
}

input[type=reset] {
    margin: 10px 20px 10px 10px;
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #f69e9e;
    color: rgb(109, 10, 10);
    display: block;
    float: right;
}

input[type=reset]:hover {
    background-color: #f35050;
    color: #fafafa;
}

input[type=submit],
input[type=reset] {
    display: inline-block;
}
