@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: black;
}

/* headings and logo */

h1, h2, h3 {
    font-family: Oswald, sans-serif;
    letter-spacing: 2px;
    color: black;
    text-transform: capitalize;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 40px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 1px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 75px;
}

.active {
    border-bottom: 1px solid black;
}

/* hero image */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

    /* animates zoom effect on hero image*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2.2);
    }
}

/* cover on home page*/
#cover-text {
    font-size: 100%;
    font-family: Oswald, sans-serif;
    letter-spacing: 2px;
    line-height: 40px;
    text-transform: capitalize;
    text-align: center;
    width: 300px;
    height: 120px;
    border-radius: 50px;
    padding: 20px;
    background-color: rgb(239, 200, 200);
    bottom: 50px;
    right: 300px;
    position: absolute;
}

#cover-text h2, h3 {
    color: rgb(109, 10, 10);
}

/* footer */
footer {
    height: 75px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 1%;
    color: rgb(109, 10, 10);
}

/* gallery */
#images {
    clear: both;
    column-count: 3;
    column-gap: 0;
    line-height: 0;
}

#images > img {
    width: 100%;
}

/* contact us */
#contact-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#contact-image {
    height: 600px;
    width: 100%;
    background: url('../images/strengthen-pelvic-floor-muscles.jpg') no-repeat center center;

    /* animates zoom effect on contact us page*/
    animation-name: contact-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for image on contact us page*/
@keyframes contact-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2.2);
    }
}

/* cover on contact us page */
#contact-text {
    font-size: 120%;
    font-family: Oswald, sans-serif;
    letter-spacing: 2px;
    line-height: 30px;
    text-transform: capitalize;
    text-align: center;
    width: 400px;
    height: 250px;
    border-radius: 50px;
    padding: 20px;
    background-color: rgb(184, 248, 245);
    color: rgb(109, 10, 10);
    bottom: 50px;
    right: 150px;
    position: absolute;
}

#contact-text h2, h3 {
    color: rgb(109, 10, 10);
    margin-bottom: 10px;
    margin-top: 10px;
}

.bold {
    font-weight: bold;
}

.lowercase {
    text-transform: lowercase;
}

/* contact us form */

#form {
    height: 850px;
}

.contactus-form {
    margin: 50px 50px 0 0;
    color: rgb(109, 10, 10);
    background-color:rgb(246, 224, 224);
    max-width: 550px;
    position: absolute;
    left: 30%;
    padding: 30px;
    border-radius: 20px;
}

.contactus-form h2 {
    color: rgb(109, 10, 10);
    margin-bottom: 20px;
    text-align: center;
}

.input-text {
    background: rgb(247, 238, 238);
    color: rgb(109, 10, 10);
    width: 100%;
    height: 30px;
    margin: 5px 0 20px;
    padding: 5px;
    border: 1px solid rgb(246, 224, 224);
    border-radius: 2px;
}

.input-text:hover {
    border-color: rgb(109, 10, 10);
}

.input-radio {
    text-align: center;
    margin: 20px 20px;
    width: 100%;
}

.message {
    background: rgb(247, 238, 238);
    color: rgb(109, 10, 10);
    height: 200px;
    width: 100%;
    margin: 5px 0 20px;
    padding: 5px;
    border: 1px solid rgb(246, 224, 224);
    border-radius: 2px;
}

.message:hover {
    border-color: rgb(109, 10, 10);
}

input[type=submit] {
    margin: 10px 20px 10px 10px;
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #f35050;
    color: #fafafa;
    display: block;
    float: right;
}

input[type=submit]:hover {
    background-color: #f69e9e;
    color: rgb(109, 10, 10);
}

input[type=reset] {
    margin: 10px 20px 10px 10px;
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #f69e9e;
    color: rgb(109, 10, 10);
    display: block;
    float: right;
}

input[type=reset]:hover {
    background-color: #f35050;
    color: #fafafa;
}

input[type=submit],
input[type=reset] {
    display: inline-block;
}
