/* Media queries*/
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@import url('https://fonts.google.com/');

* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: black;
    overflow-x: hidden;
}

/* headings and logo */

h1, h2, h3 {
    font-family: Oswald, sans-serif;
    color: black;
    text-transform: capitalize;
}

#logo {
    float: left;
    font-size: 280%;
    line-height: 75px;
    margin-left: 40px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 1px;
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid black;
}

/* hero image */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

    /* animates zoom effect on hero image*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2.2);
    }
}

/* cover on home page*/
#cover-text {
    font-size: 100%;
    font-family: Oswald, sans-serif;
    line-height: 35px;
    text-transform: capitalize;
    text-align: center;
    width: 300px;
    height: 120px;
    border-radius: 50px;
    padding: 20px;
    background-color: rgb(239, 200, 200);
    bottom: 50px;
    right: 150px;
    position: absolute;
}

#cover-text h2, h3 {
    color: rgb(109, 10, 10);
}

/* yoga benefits & techniques */
#yoga-bens-techs {
    height: 1000px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.bens-techs-left {
    padding-top: 10px;
    width: 40%;
    float: left;
    margin-left: 165px;
    margin-bottom: 75px;
    margin-top: 25px;
}

.bens-techs-right {
    padding-top: 10px;
    width: 40%;
    float: right;
    margin-right: 85px;
    margin-top: 25px;
}

.bens-techs-left .bens-techs-right {
    display: inline-block;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}
.bens-techs-heading {
    width: 100%;
    line-height: 20px;
    padding-top: 10px;
    margin-bottom: 0;
}

.bens-techs-heading h2 {
    text-transform: none;
}

.bens-techs-heading h3 {
    text-transform: none;
    margin: 10px 5px;
    margin-left: 0;
    color: inherit;
}

#reasons {
    text-align: center;
    margin: 20px 0;
    font-size: 200%;
}

#circle-container-tree-pose {
    width: 225px;
    height: 270px;
    padding: 10px;
    border-style: solid;
    border-color: rgb(199, 197, 197);
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    background-size: cover;
}

#circle-tree-pose-bg {
    background: url('../images/tree-pose-demo.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-container-cat-cow-pose {
    width: 322px;
    height: 224px;
    padding: 5px;
    border-style: solid;
    border-color: rgb(199, 197, 197);
    border-width: 1px;
    border-radius: 5%;
    margin: 0 auto;
    background-size: cover;
}

#circle-cat-cow-pose-bg {
    background: url('../images/cat-cow-pose-demo.jpg') no-repeat center center;
    height: 100%;
    border-radius: 5%;
}

#circle-container-down-dog-pose {
    width: 260px;
    height: 182px;
    padding: 5px;
    border-style: solid;
    border-color: rgb(199, 197, 197);
    border-width: 1px;
    border-radius: 5%;
    margin: 0 auto;
    background-size: cover;
}

#circle-down-dog-pose-bg {
    background: url('../images/downward-dog-pose-demo.jpg') no-repeat center center;
    height: 100%;
    border-radius: 5%;
}

#circle-container-corpse-pose {
    width: 360px;
    height: 195px;
    padding: 5px;
    border-style: solid;
    border-color: rgb(199, 197, 197);
    border-width: 1px;
    border-radius: 5%;
    margin: 0 auto;
    background-size: cover;
}

#circle-corpse-pose-bg {
    background: url('../images/corpse-pose-demo.jpg') no-repeat center center;
    height: 100%;
    border-radius: 5%;
}

#circle-container-legs-up-pose {
    width: 260px;
    height: 279px;
    padding: 5px;
    border-style: solid;
    border-color: rgb(199, 197, 197);
    border-width: 1px;
    border-radius: 5%;
    margin: 0 auto;
    background-size: cover;
}

#circle-legs-up-pose-bg {
    background: url('../images/legs-up-the-wall-pose-demo.jpg') no-repeat center center;
    height: 100%;
    border-radius: 5%;
}

/* about us */
#about-us {
    height: auto;
    margin-top: 25px;
}

#about {
    height: auto;
    background-color: rgba(231, 219, 219, 0.6);
    margin: 0 auto;
    width: 94%;
    padding: 30px;
    border: 2px solid #fafafa;
}

.about-heading {
    font-size: 200%;
    text-align: center;
    margin-bottom: 25px;
}

#provisions {
    font-size: 120%;
    text-align: center;
    margin-bottom: 25px;
}

#offers {
    font-size: 120%;
    text-align: left;
    margin-left: 235px;
    margin-bottom: 25px;
}

#offers-list {
    font-size: 100%;
    text-align: left;
    line-height: 30px;
    margin-left: 350px;  
}

/* prices */
#prices {
    margin: 0 auto;
    width: 90%;
    height: auto;
}

#prices div {
    background-color: rgba(231, 219, 219, 0.6);
    width: 50%;
    height: 300px;
    float: left;
    padding: 20px;
    text-align: center;
    border: 2px solid #fafafa;
    box-sizing: border-box;
}

.prices-heading {
    font-size: 200%;
    text-align: center;
    margin-bottom: 25px;
}

.prices-gps {
    font-size: 120%;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 25px;
}

.prices-list {
    font-size: 100%;
    text-align: left;
    line-height: 30px;
    margin-left: 60px;    
}

.table {
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
    line-height: 22px;
}

/* plan lessons */
#lessons {
    background-image: url('../images/group-senior-people-yoga.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 300px;
    width: 100%;
}

#lessons div {
    color: rgb(53, 9, 9);
    background-color: rgba(248, 244, 244, 0.6);
    width: 25%;
    height: 300px;
    float: left;
    padding: 15px;
    text-align: center;
    border: 2px solid #fafafa;
    box-sizing: border-box;
}

#lessons h2, #lessons h3 {
    color: rgb(53, 9, 9);
    margin: 10px;
}

.list {
    font-size: 100%;
    text-align: left;
    line-height: 20px;
    padding-top: 10px;
    margin-left: 20px;
}

/* footer */
footer {
    margin-top: 50px;
    height: 75px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 1%;
    color: rgb(109, 10, 10);
}

/* gallery */
#images {
    clear: both;
    column-count: 3;
    column-gap: 0;
    line-height: 0;
}

#images > img {
    width: 100%;
}

/* contact us */
#contact-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#contact-image {
    height: 600px;
    width: 100%;
    background: url('../images/strengthen-pelvic-floor-muscles.jpg') no-repeat center center;

    /* animates zoom effect on contact us page*/
    animation-name: contact-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for image on contact us page*/
@keyframes contact-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2.2);
    }
}

/* cover on contact us page */
#contact-text {
    font-size: 120%;
    font-family: Oswald, sans-serif;
    line-height: 30px;
    text-transform: capitalize;
    text-align: center;
    width: 400px;
    height: 250px;
    border-radius: 50px;
    padding: 20px;
    background-color: rgb(184, 248, 245);
    color: rgb(109, 10, 10);
    bottom: 40px;
    right: 100px;
    position: absolute;
}

#contact-text h2, h3 {
    color: rgb(109, 10, 10);
    margin-bottom: 10px;
    margin-top: 10px;
}

.bold {
    font-weight: bold;
}

.lowercase {
    text-transform: lowercase;
}

/* contact us form */
#form {
    height: 800px;
}

.contactus-form {
    margin: 50px 0 50px 0;
    color: rgb(109, 10, 10);
    background-color:rgb(246, 224, 224);
    max-width: 427px;
    position: absolute;
    left: 33%;
    padding: 30px;
    border-radius: 20px;
}

.contactus-form h2 {
    color: rgb(109, 10, 10);
    margin-bottom: 20px;
    text-align: center;
    font-size: 124%;
}

.input-text {
    background: rgb(247, 238, 238);
    color: rgb(109, 10, 10);
    width: 98%;
    height: 30px;
    margin: 5px 0 20px;
    padding: 5px;
    border: 1px solid rgb(246, 224, 224);
    border-radius: 2px;
}

.input-text:hover {
    border-color: rgb(109, 10, 10);
}

.input-radio {
    margin: 10px 10px;
    width: 100%;
    font-size: 90%;
    text-align: left;
    line-height: 25px;
}

.message {
    background: rgb(247, 238, 238);
    color: rgb(109, 10, 10);
    height: 150px;
    width: 98%;
    margin: 5px 0 15px;
    padding: 5px;
    border: 1px solid rgb(246, 224, 224);
    border-radius: 2px;
}

.message:hover {
    border-color: rgb(109, 10, 10);
}

input[type=submit] {
    margin: 10px 20px 10px 10px;
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #f69e9e;
    color: rgb(109, 10, 10);
    display: block;
    float: right;
}

input[type=submit]:hover {
    background-color: #f35050;
    color: #fafafa;
}

input[type=reset] {
    margin: 10px 20px 10px 10px;
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #f69e9e;
    color: rgb(109, 10, 10);
    display: block;
    float: right;
}

input[type=reset]:hover {
    background-color: #f35050;
    color: #fafafa;
}

input[type=submit],
input[type=reset] {
    display: inline-block;
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    /* cover on home page*/
    #cover-text {
        right: 100px;
    }
    
    /* yoga benefits & techniques */
    .bens-techs-left {
        width: 75%;
        margin: 10px 150px 10px 150px;
    }
    
    .bens-techs-right {
        width: 75%;
        margin: 10px 150px 10px 150px;
    }

    /* about us */
    #about {
        width: 93%;
    }

    .about-heading {
        margin-bottom: 20px;
    }
    #provisions {
        line-height: 30px;
        margin-bottom: 15px;
    }

    #offers {
        margin-left: 120px;
        margin-bottom: 15px;
    }
    
    #offers-list {
        margin-left: 150px;  
    }

    /* prices */

    .prices-heading {
        margin-bottom: 20px;
    }
    
    .prices-gps {
        margin-bottom: 20px;
    }

    #prices div {
        height: 325px;
    }

    /* plan lessons */
    #lessons {
        height: 325px;
    }

    #lessons div {
        height: 325px;
        padding: 15px;
    }

    /* cover on contact us page */
    #contact-text {
        width: 375px;
        right: 60px;
    }

    /* contact us form */
    .contactus-form {
        left: 28%;
    }
}
